//---------------------------------------------------------------------------
//
// Name:        Text GameApp.rc
// Author:      JunDong
// Created:     13/6/2015 5:48:05 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
